NEXT_PUBLIC_API_URL=https://your-api-url.com/wp-json/wc/v3/
NEXT_PUBLIC_WP_URL=https://your-wp-url.com/wp-json/wp/v2/
NEXT_PUBLIC_CONSUMER_KEY=ck_your_consumer_key_here
NEXT_PUBLIC_CONSUMER_SECRET=cs_your_consumer_secret_here

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Maintenance mode: set to "true" to enable, "false" or remove to disable
NEXT_PUBLIC_MAINTENANCE_MODE=false